

.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

#header {
    display:flex;
    width:1519.2px;
    height:48px;
    align-items:center;
    margin-top:-8px
}


.logo {
    width:66px;
    height:16px;
    margin-left:150px;
    cursor:pointer
}


.randomAhh {
    border-left: 1px solid #697172;
    height: 25px;
    margin-left:17px
}
.ourBrands {
    font-family:poppins;
    font-size:13px;
    color: #697172;
    font-weight:280;
    margin-left:15px
}
.fa {
    color:#697172;
    margin-left:980px
}
.india {
    font-family:poppins;
    font-size:14px;
    margin-left:10px;
    font-weight:600;
    color:#697172;

}
.india:hover {
   text-decoration:underline
}
#locationSelector {
    display:flex;
    align-items:center;
    cursor:pointer;
}
.bgImg {
    width:1536.2px;
    height:501.5px;
    object-fit: cover;
    margin-left:-8px;
    position:absolute;
    
}
.navLogo {
    width:118px;
    height:36px;
    position:relative;
    margin-left:150px;
    margin-top:27px;
    cursor:pointer;
}
.shop, .discover, .business, .support {
    font-family:poppins;
    position:relative;
    cursor:pointer;
    width:90px;
    height:30px;
    padding-top:8px
   
}
#navBar {
    display:flex;
    gap:50px;
    margin-left:
}
.navBarItems {
    margin-left:240px;
    display:flex;
    gap:40px;
    margin-top:20px;
    font-family:poppins;
    font-size:15px;
    color:white;
    font-weight:500;
    text-align:center;
    align-items:center
   

}

.shop:hover {
    background-color:white;
    transition:0.1s;
    color:black;
    border-radius: 40px;
}

.discover:hover {
    background-color:white;
    transition:0.1s;
    color:black;
    border-radius: 30px;
}

.business:hover {
    background-color:white;
    transition:0.1s;
    color:black;
    border-radius: 30px;
}

.support:hover {
    background-color:white;
    transition:0.1s;
    color:black;
    border-radius: 30px;
}
.searchBar {
    position:relative;
   border:none;
   border-radius:20px;
   width:150px;
   height:30px;
   margin-top:30px;
   margin-left:70px;
   font-family:poppins;
   padding-left:20px;
   font-weight:300

}
input.searchBar, textarea {background:#ffffff4d};
.fa-solid fa-magnifying-glass {
    position:relative;
    background-color:white
}

::placeholder {
    color:white
}
#searchBar {
    position:relative
}
@import "compass/css3";

.ico-mglass {
  position:relative;
  display:inline-block;
  background: #ffffff00;
  margin-left:-35px;
  border-radius: 30px;
  height: 10px;
  width: 10px;
  border: 2px solid #fffbfb;
  
  &:after {
    content: "";
    height: 3px;
    width: 10px;
    background: #fffdfd;
    position:absolute;
    top:10.5px;
    left:6.5px;
    -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
  }
  
}

.myAccountPic {
    width:20px;
    position:relative;
    height:20px;
    margin-left:-25px;
    filter: invert(100%) sepia(12%) saturate(81%) hue-rotate(110deg) brightness(117%) contrast(100%);
  
    
}
.myAccount {
    margin-top:37px;

}
#meetstream {
    position:relative;
    font-family:poppins;

    
    margin-top:-30px;
    margin-left:150px;
    width:488px
   
   
}

.meetstream {
    color:white;
    font-size:60px;
    font-weight:600;
   
}
.meetstreamText {
    color:white;
    margin-top:-40px;
    font-size:18px;
    font-weight:300;
}
.learnMore, .shopNow {
    font-family:poppins;
    width:164px;
    height:54px;
    font-size:14px;
    font-weight:500;
    border:none;
    cursor:pointer;
    transition:0.2s;
}
.shopNow {
    margin-left:10px
}

#cards{
    display:flex;
    margin-top:150px;
    gap:20px;
    margin-left:150px;
    width:1220px
}
.card1Img, .card2Img, .card3Img {
    width:386.6px;
    height:386.6px;
    cursor:pointer
}
h3 {
    font-family:poppins;
    font-size:20px;
    font-weight:600;
    cursor:pointer
}

.cardText {
    font-family:poppins;
    font-size:14px;
    font-weight:300;
}

.cardButton {
    font-family:poppins;
    font-size:14px;
    font-weight:500;
    cursor:pointer
}
.arrowRight {
    font-weight:700;
    margin-left:5px;
    cursor:pointer
}
.cardButton:hover {
    text-decoration: underline;
}

.shopNow:hover {
    color:white;
    background-color:#d4723900;
    border:2px solid white
}
.learnMore:hover {
    color:white;
    background-color:#d4723900;
    border:2px solid white
}
h3:hover {
    text-decoration: underline;
}
.cardButton:hover {
    text-decoration: underline;
}
#shopSeries {
    display:grid;
    width:1250px;
    height:687px;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:15px;
    margin-left:150px
} 
.pic1, .pic2, .pic3, .pic4 {
    width:387px;
    height:327px;
    cursor:pointer
    

}
.pic5 {
    width:793px;
    height:327.5px;
    cursor:pointer
}
.pic3 {
    margin-left:-405px
}
.shopSeries {
   margin-top:100px;
   text-align:center;
   font-family:poppins;
   font-size:36px;
   font-weight:600;
   padding-top:70px
   

}

#content4 {
    background:#f4f4f4;
    height:900px
   
}

.pic1text, .pic2text, .pic3text, .pic4text, .pic5text {
    font-family:poppins;
    text-align:center;
    margin-top:-180px;
    color:white;
    font-weight:400
}

.pic2text {
    margin-left:-400px;
    font-weight:400
}

.pic3text {
    margin-left:-450px;
    font-weight:400
}

.pic1:hover {
    filter:brightness(30%);
    transition: 0.2s;
}
.pic2:hover {
    filter:brightness(30%);
    transition: 0.2s;
}
.pic3:hover {
    filter:brightness(30%);
    transition: 0.2s;
}
.pic4:hover {
    filter:brightness(30%);
    transition: 0.2s;
}
.pic5:hover {
    filter:brightness(30%);
    transition: 0.2s;
}

#shopProductscontent {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:15px;
     
    height:680px
}
.img1 {
    width:386px;
    height:443px;
   position:absolute;
   
    cursor:pointer
}
.img2 {
    width:386px;
    height:211px;
    cursor:pointer;
    position:absolute
}
.img3 {
    width:386px;
    height:443px;
    
    cursor:pointer;
    position:absolute
}
.img4 {
    width:386px;
    height:211px;
    
    cursor:pointer;
    position:absolute
}
.img5 {
    width:386px;
    height:443px;
   
    cursor:pointer;
    position:absolute
}

.img6 {
    width:386px;
    height:211px;
   
    cursor:pointer;
    position:absolute
}

.img1:hover {
   transform:scale(1.1);
   transition:0.2s ease-out;
   
}
.img1Content{
    overflow: hidden;
    width:386px;
    height:443px;
    margin-left:150px;
    position:relative
    
}
.img2:hover {
    transform:scale(1.1);
    transition:0.2s ease-out;
    
 }
 .img3:hover {
    transform:scale(1.1);
    transition:0.2s ease-out;
    
 }
 .img4:hover {
    transform:scale(1.1);
    transition:0.2s ease-out;
    
 }
 .img5:hover {
    transform:scale(1.1);
    transition:0.2s ease-out
    
 }
 .img6:hover {
    transform:scale(1.1);
    transition:0.2s ease-out;
    
 }

 .img2Content{
    overflow: hidden;
    width:386px;
    height:211px;
    position:relative
 }
 .img3Content{
    overflow: hidden;
    width:386px;
    height:443px;
    margin-left:-80px;
    position:relative
 }
 .img4Content{
    overflow: hidden;
    width:386px;
    margin-left:150px;
    height:211px;
    position:relative
    
 }
 .img5Content{
    overflow: hidden;
    margin-top:-232px;
    height: 443px;
    width:386px;
    position:relative
 }
 .img6Content{
    overflow: hidden;
    margin-left:-80px;
    width:386px;
    height:211px;
    position:relative
 }
 
.productText {
    position:relative;
    margin-top:45px;
    text-align:center;
    font-family:poppins;
    font-weight:500
}
.shopProducts {
    font-family:poppins;
    font-size :36px;
    font-weight:500;
    text-align:center;
    margin-top:100px
}





